In [35]:
import pandas as pd
import numpy as np

In [36]:
books=pd.read_csv("Books.csv")
users=pd.read_csv("Users.csv")
ratings = pd.read_csv('Ratings.csv')

C:\Users\dell\AppData\Local\Temp\ipykernel_4408\2516355024.py:1: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  books=pd.read_csv("Books.csv")

In [37]:
books.head(3)

,ISBN,Book-Title,Book-Author,Year-Of-Publication,Publisher,Image-URL-S,Image-URL-M,Image-URL-L
0,0195153448,Classical Mythology,Mark P. O. Morford,2002,Oxford University Press,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...
1,0002005018,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...
2,0060973129,Decision in Normandy,Carlo D'Este,1991,HarperPerennial,http://images.amazon.com/images/P/0060973129.0...,http://images.amazon.com/images/P/0060973129.0...,http://images.amazon.com/images/P/0060973129.0...

In [38]:
users.head(3)

   User-ID                         Location   Age
0        1               nyc, new york, usa   NaN
1        2        stockton, california, usa  18.0
2        3  moscow, yukon territory, russia   NaN

In [39]:
ratings.head(3)

   User-ID        ISBN  Book-Rating
0   276725  034545104X            0
1   276726  0155061224            5
2   276727  0446520802            0

In [40]:
print(books.shape)
print(ratings.shape)
print(users.shape)

(271360, 8)
(1149780, 3)
(278858, 3)

In [41]:
books.isnull().sum()

ISBN                   0
Book-Title             0
Book-Author            2
Year-Of-Publication    0
Publisher              2
Image-URL-S            0
Image-URL-M            0
Image-URL-L            3
dtype: int64

In [42]:
users.isnull().sum()

User-ID          0
Location         0
Age         110762
dtype: int64

In [43]:
ratings.isnull().sum()

User-ID        0
ISBN           0
Book-Rating    0
dtype: int64

In [44]:
books.duplicated().sum()

0

In [45]:
books[books['Book-Title'].duplicated()]

,ISBN,Book-Title,Book-Author,Year-Of-Publication,Publisher,Image-URL-S,Image-URL-M,Image-URL-L
239,0743486226,Angels &amp; Demons,Dan Brown,2003,Atria,http://images.amazon.com/images/P/0743486226.0...,http://images.amazon.com/images/P/0743486226.0...,http://images.amazon.com/images/P/0743486226.0...
355,0140374248,James and the Giant Peach,Roald Dahl,2000,Penguin USA (Paper),http://images.amazon.com/images/P/0140374248.0...,http://images.amazon.com/images/P/0140374248.0...,http://images.amazon.com/images/P/0140374248.0...
405,006101351X,The Perfect Storm : A True Story of Men Agains...,Sebastian Junger,1998,HarperTorch,http://images.amazon.com/images/P/006101351X.0...,http://images.amazon.com/images/P/006101351X.0...,http://images.amazon.com/images/P/006101351X.0...
456,044021145X,The Firm,John Grisham,1992,Bantam Dell Publishing Group,http://images.amazon.com/images/P/044021145X.0...,http://images.amazon.com/images/P/044021145X.0...,http://images.amazon.com/images/P/044021145X.0...
475,014023828X,The Tortilla Curtain,T. Coraghessan Boyle,1996,Penguin Books,http://images.amazon.com/images/P/014023828X.0...,http://images.amazon.com/images/P/014023828X.0...,http://images.amazon.com/images/P/014023828X.0...
...,...,...,...,...,...,...,...,...
271246,0195124995,For Cause and Comrades: Why Men Fought in the ...,James M. McPherson,1998,Oxford University Press,http://images.amazon.com/images/P/0195124995.0...,http://images.amazon.com/images/P/0195124995.0...,http://images.amazon.com/images/P/0195124995.0...
271315,1902852036,All the Queen's Men,Nick Elwood,1999,Gay Men's Press,http://images.amazon.com/images/P/1902852036.0...,http://images.amazon.com/images/P/1902852036.0...,http://images.amazon.com/images/P/1902852036.0...
271316,0441011799,Singularity Sky,Charles Stross,2004,Ace,http://images.amazon.com/images/P/0441011799.0...,http://images.amazon.com/images/P/0441011799.0...,http://images.amazon.com/images/P/0441011799.0...
271346,0395264707,Dreamsnake,Vonda N. McIntyre,1978,Houghton Mifflin,http://images.amazon.com/images/P/0395264707.0...,http://images.amazon.com/images/P/0395264707.0...,http://images.amazon.com/images/P/0395264707.0...
271355,0440400988,There's a Bat in Bunk Five,Paula Danziger,1988,Random House Childrens Pub (Mm),http://images.amazon.com/images/P/0440400988.0...,http://images.amazon.com/images/P/0440400988.0...,http://images.amazon.com/images/P/0440400988.0...

In [46]:
books[books['Book-Title']=='Angels &amp; Demons']

,ISBN,Book-Title,Book-Author,Year-Of-Publication,Publisher,Image-URL-S,Image-URL-M,Image-URL-L
118,0671027360,Angels &amp; Demons,Dan Brown,2001,Pocket Star,http://images.amazon.com/images/P/0671027360.0...,http://images.amazon.com/images/P/0671027360.0...,http://images.amazon.com/images/P/0671027360.0...
239,0743486226,Angels &amp; Demons,Dan Brown,2003,Atria,http://images.amazon.com/images/P/0743486226.0...,http://images.amazon.com/images/P/0743486226.0...,http://images.amazon.com/images/P/0743486226.0...
28002,0671027352,Angels &amp; Demons,Dan Brown,2000,Atria,http://images.amazon.com/images/P/0671027352.0...,http://images.amazon.com/images/P/0671027352.0...,http://images.amazon.com/images/P/0671027352.0...
36935,0743535774,Angels &amp; Demons,Dan Brown,2003,Audioworks,http://images.amazon.com/images/P/0743535774.0...,http://images.amazon.com/images/P/0743535774.0...,http://images.amazon.com/images/P/0743535774.0...
163541,0743535766,Angels &amp; Demons,Dan Brown,2003,Simon &amp; Schuster Audio,http://images.amazon.com/images/P/0743535766.0...,http://images.amazon.com/images/P/0743535766.0...,http://images.amazon.com/images/P/0743535766.0...

In [47]:
books[(books['Book-Title'].str.contains('Harry Potter',case=False)) & (books['Book-Author']=='J. K. Rowling')]['Book-Title'].value_counts()

Book-Title
Harry Potter and the Sorcerer's Stone (Book 1)                                                                        4
Harry Potter and the Order of the Phoenix (Book 5)                                                                    4
Harry Potter and the Chamber of Secrets (Book 2)                                                                      3
Harry Potter and the Prisoner of Azkaban (Book 3)                                                                     3
Harry Potter y el cÃ¡liz de fuego                                                                                     2
Harry Potter and the Chamber of Secrets                                                                               2
Harry Potter y la piedra filosofal                                                                                    2
Harry Potter and the Sorcerer's Stone (Harry Potter (Paperback))                                                      2
Harry Potter and the Goblet of Fire (Book 4)                                                                          2
Harry Potter Paperback Boxed Set (Books 1-4)                                                                          1
Harry Potter Hardcover Box Set (Books 1-4)                                                                            1
Harry Potter and the Prisoner of Azkaban                                                                              1
Harry Potter Schoolbooks Box Set: Two Classic Books from the Library of Hogwarts School of Witchcraft and Wizardry    1
Garri Potter i uznik Azkabana (Harry Potter and the Prisoner of Azkaban, Russian Edition)                             1
Harry Potter y la Ã?rden del FÃ©nix                                                                                   1
Harry Potter et le prisonnier d'Azkaban                                                                               1
Harry Potter y la camara secreta                                                                                      1
Harry Potter and the Prisoner of Azkaban (Harry Potter (Paperback))                                                   1
Harry Potter and the Chamber of Secrets (Thorndike Young Adult)                                                       1
Harry Potter &amp; the Prisoner of Azkaban: Grades 5-6                                                                1
Harry Potter Y LA Camara Secreta                                                                                      1
Harry Potter and the Order of the Phoenix (Book 5, Audio)                                                             1
Harry Potter and the Philosopher's Stone (Irish Gaelic Edition)                                                       1
Harry Potter and the Sorcerer's Stone (Urdu Edition)                                                                  1
Harri Potter maen yr Athronydd (Harry Potter and the Philosopher's Stone, Welsh edition)                              1
Harry Potter and the Sorcerer's Stone (Harry Potter (Hardcover))                                                      1
Harry Potter and the Order of the Phoenix (Book 5, Deluxe Edition)                                                    1
Harry Potter and the Sorcerer's Stone                                                                                 1
Harry Potter and the Sorcerer's Stone: A Deluxe Pop-up Book                                                           1
Harry Potter y El Caliz de Fuego                                                                                      1
Harry Potter and the Chamber of Secrets Postcard Book                                                                 1
Harry Potter a l'ecole des sorciers                                                                                   1
Harry Potter and the Goblet of Fire (Book 4, Audio)                                                                   1
Harry Potter E la Camera Dei Segreti                                                                                  1
Harry Potter Et LA Coupe De Feu                                                                                       1
Harry Potter y el prisionero de Azkaban                                                                               1
Harry Potter y la cÃ¡mara secreta                                                                                     1
Harry Potter Y El Prisionero De Azkaban                                                                               1
Harry Potter and the Goblet of Fire (Book 4 Audio CD)                                                                 1
Harry Potter and the Chamber of Secrets (Book 2 Audio CD)                                                             1
Harry Potter and the Sorcerer's Stone (Book 1 Audio CD)                                                               1
Harry Potter and the Prisoner of Azkaban (Book 3, Audio)                                                              1
Harry Potter und der Gefangene von Azkaban                                                                            1
Harrius Potter et Philosophi Lapis (Harry Potter and the Philosopher's Stone, Latin edition)                          1
Harry Potter and the Goblet of Fire                                                                                   1
Harry Potter E il Prigioniero D'Azkaban                                                                               1
Harry Potter E il Calice Di Fuoco / Harry Potter &amp; the Goblet of Fire                                             1
Harry Potter E la Pietra Filosfale                                                                                    1
Harry Potter and the Chamber of Secrets (Book 2, Audio)                                                               1
Harry Potter and the Sorcerer's Stone (Book 1, Audio)                                                                 1
Harry Potter and the Order of the Phoenix (Book 5 Audio CD)                                                           1
Harry Potter et la chambre des secrets                                                                                1
Harry Potter and the Sorcerer's Stone (Book 1, Large Print)                                                           1
Harry Potter and the Chamber of Secrets (Harry Potter)                                                                1
Harry Potter and the Goblet of Fire (Harry Potter)                                                                    1
Name: count, dtype: int64

In [48]:
books[books['Book-Title']=="Harry Potter and the Sorcerer's Stone (Book 1)"]

,ISBN,Book-Title,Book-Author,Year-Of-Publication,Publisher,Image-URL-S,Image-URL-M,Image-URL-L
2809,0590353403,Harry Potter and the Sorcerer's Stone (Book 1),J. K. Rowling,1998,Scholastic,http://images.amazon.com/images/P/0590353403.0...,http://images.amazon.com/images/P/0590353403.0...,http://images.amazon.com/images/P/0590353403.0...
9026,043936213X,Harry Potter and the Sorcerer's Stone (Book 1),J. K. Rowling,2001,Scholastic,http://images.amazon.com/images/P/043936213X.0...,http://images.amazon.com/images/P/043936213X.0...,http://images.amazon.com/images/P/043936213X.0...
55784,043920352X,Harry Potter and the Sorcerer's Stone (Book 1),J. K. Rowling,2000,Scholastic,http://images.amazon.com/images/P/043920352X.0...,http://images.amazon.com/images/P/043920352X.0...,http://images.amazon.com/images/P/043920352X.0...
181530,043936213x,Harry Potter and the Sorcerer's Stone (Book 1),J. K. Rowling,2001,Scholastic,http://images.amazon.com/images/P/043936213X.0...,http://images.amazon.com/images/P/043936213X.0...,http://images.amazon.com/images/P/043936213X.0...

In [49]:
books[books.duplicated(subset=['Book-Title','Year-Of-Publication','Book-Author','Publisher'])]

,ISBN,Book-Title,Book-Author,Year-Of-Publication,Publisher,Image-URL-S,Image-URL-M,Image-URL-L
3448,0425098680,Dinner at the Homesick Restaurant,Anne Tyler,1992,Ivy Books,http://images.amazon.com/images/P/0425098680.0...,http://images.amazon.com/images/P/0425098680.0...,http://images.amazon.com/images/P/0425098680.0...
3838,0060283122,The Bad Beginning (A Series of Unfortunate Eve...,Lemony Snicket,1999,HarperCollins,http://images.amazon.com/images/P/0060283122.0...,http://images.amazon.com/images/P/0060283122.0...,http://images.amazon.com/images/P/0060283122.0...
5430,0671041789,The Green Mile,Stephen King,1999,Pocket,http://images.amazon.com/images/P/0671041789.0...,http://images.amazon.com/images/P/0671041789.0...,http://images.amazon.com/images/P/0671041789.0...
6068,0553106643,Fear Nothing,DEAN KOONTZ,1998,Bantam,http://images.amazon.com/images/P/0553106643.0...,http://images.amazon.com/images/P/0553106643.0...,http://images.amazon.com/images/P/0553106643.0...
6291,B00009ANY9,Cane River,Lalita Tademy,2001,Warner Books,http://images.amazon.com/images/P/B00009ANY9.0...,http://images.amazon.com/images/P/B00009ANY9.0...,http://images.amazon.com/images/P/B00009ANY9.0...
...,...,...,...,...,...,...,...,...
270484,0571204163,Headlong,Michael Frayn,0,Faber Faber Inc,http://images.amazon.com/images/P/0571204163.0...,http://images.amazon.com/images/P/0571204163.0...,http://images.amazon.com/images/P/0571204163.0...
270652,0876120826,Autobiography of a Yogi,Paramahansa Yogananda,1994,Self-Realization Fellowship Publishers,http://images.amazon.com/images/P/0876120826.0...,http://images.amazon.com/images/P/0876120826.0...,http://images.amazon.com/images/P/0876120826.0...
270795,0805076476,Fight Club : A Novel,Chuck Palahniuk,2004,Owl Books,http://images.amazon.com/images/P/0805076476.0...,http://images.amazon.com/images/P/0805076476.0...,http://images.amazon.com/images/P/0805076476.0...
270900,0345319877,Deryni Rising (Chronicles of the Deryni),Katherine Kurtz,1981,Ballantine Books,http://images.amazon.com/images/P/0345319877.0...,http://images.amazon.com/images/P/0345319877.0...,http://images.amazon.com/images/P/0345319877.0...
271143,0671648497,Old Patagonian Express,Paul Theroux,1980,Washington Square Press,http://images.amazon.com/images/P/0671648497.0...,http://images.amazon.com/images/P/0671648497.0...,http://images.amazon.com/images/P/0671648497.0...

In [50]:
books[books['Book-Title']=='The Testament']

,ISBN,Book-Title,Book-Author,Year-Of-Publication,Publisher,Image-URL-S,Image-URL-M,Image-URL-L
18,0440234743,The Testament,John Grisham,1999,Dell,http://images.amazon.com/images/P/0440234743.0...,http://images.amazon.com/images/P/0440234743.0...,http://images.amazon.com/images/P/0440234743.0...
949,0385493800,The Testament,John Grisham,1999,Doubleday Books,http://images.amazon.com/images/P/0385493800.0...,http://images.amazon.com/images/P/0385493800.0...,http://images.amazon.com/images/P/0385493800.0...
4315,0099245027,The Testament,John Grisham,1999,Trafalgar Square,http://images.amazon.com/images/P/0099245027.0...,http://images.amazon.com/images/P/0099245027.0...,http://images.amazon.com/images/P/0099245027.0...
42151,0671448331,The Testament,Elie Wiesel,1981,Summit Books,http://images.amazon.com/images/P/0671448331.0...,http://images.amazon.com/images/P/0671448331.0...,http://images.amazon.com/images/P/0671448331.0...
130507,0440295734,The Testament,John Grisham,1999,Bantam Books,http://images.amazon.com/images/P/0440295734.0...,http://images.amazon.com/images/P/0440295734.0...,http://images.amazon.com/images/P/0440295734.0...
178775,0553502271,The Testament,John Grisham,1999,Random House Audio,http://images.amazon.com/images/P/0553502271.0...,http://images.amazon.com/images/P/0553502271.0...,http://images.amazon.com/images/P/0553502271.0...
186707,0805211152,The Testament,Elie Wiesel,1999,Schocken Books,http://images.amazon.com/images/P/0805211152.0...,http://images.amazon.com/images/P/0805211152.0...,http://images.amazon.com/images/P/0805211152.0...

In [51]:
# books=books.drop_duplicates(subset=['Book-Title','Year-Of-Publication','Book-Author'])
# books.head(3)

In [52]:
ratings.duplicated().sum()

0

In [53]:
users.duplicated().sum()

0

### Popularity based recommendation system

In [54]:
ratings_with_name = ratings.merge(books,on='ISBN')

In [55]:
ratings_with_name.shape

(1031136, 10)

In [60]:
num_rating_df=ratings_with_name.groupby('Book-Title')['Book-Rating'].count().reset_index()

In [64]:
num_rating_df=num_rating_df.rename(columns={'Book-Rating':'num_ratings'})

In [65]:
num_rating_df.head()

                                          Book-Title  num_ratings
0   A Light in the Storm: The Civil War Diary of ...            4
1                              Always Have Popsicles            1
2               Apple Magic (The Collector's series)            1
3   Ask Lily (Young Women of Faith: Lily Series, ...            1
4   Beyond IBM: Leadership Marketing and Finance ...            1

In [66]:
avg_rating_df=ratings_with_name.groupby('Book-Title')['Book-Rating'].mean().reset_index()
avg_rating_df=avg_rating_df.rename(columns={'Book-Rating':'avg_ratings'})
avg_rating_df.head()

                                          Book-Title  avg_ratings
0   A Light in the Storm: The Civil War Diary of ...         2.25
1                              Always Have Popsicles         0.00
2               Apple Magic (The Collector's series)         0.00
3   Ask Lily (Young Women of Faith: Lily Series, ...         8.00
4   Beyond IBM: Leadership Marketing and Finance ...         0.00

In [68]:
popularity_df=num_rating_df.merge(avg_rating_df,on='Book-Title')
popularity_df.head()

                                          Book-Title  num_ratings  avg_ratings
0   A Light in the Storm: The Civil War Diary of ...            4         2.25
1                              Always Have Popsicles            1         0.00
2               Apple Magic (The Collector's series)            1         0.00
3   Ask Lily (Young Women of Faith: Lily Series, ...            1         8.00
4   Beyond IBM: Leadership Marketing and Finance ...            1         0.00

In [70]:
popularity_df.shape

(241071, 3)

In [74]:
popularity_df=popularity_df[popularity_df['num_ratings']>=250].sort_values(by='avg_ratings',ascending=False).head(50)

In [75]:
popularity_df.head(5)

,Book-Title,num_ratings,avg_ratings
80434,Harry Potter and the Prisoner of Azkaban (Book 3),428,5.852804
80422,Harry Potter and the Goblet of Fire (Book 4),387,5.824289
80441,Harry Potter and the Sorcerer's Stone (Book 1),278,5.737410
80426,Harry Potter and the Order of the Phoenix (Boo...,347,5.501441
80414,Harry Potter and the Chamber of Secrets (Book 2),556,5.183453

In [79]:
popularity_df=popularity_df.merge(books,on='Book-Title').drop_duplicates('Book-Title')[['Book-Title','Book-Author','Image-URL-M','num_ratings','avg_ratings']]

In [80]:
popularity_df.head()

,Book-Title,Book-Author,Image-URL-M,num_ratings,avg_ratings
0,Harry Potter and the Prisoner of Azkaban (Book 3),J. K. Rowling,http://images.amazon.com/images/P/0439136350.0...,428,5.852804
3,Harry Potter and the Goblet of Fire (Book 4),J. K. Rowling,http://images.amazon.com/images/P/0439139597.0...,387,5.824289
5,Harry Potter and the Sorcerer's Stone (Book 1),J. K. Rowling,http://images.amazon.com/images/P/0590353403.0...,278,5.737410
9,Harry Potter and the Order of the Phoenix (Boo...,J. K. Rowling,http://images.amazon.com/images/P/043935806X.0...,347,5.501441
13,Harry Potter and the Chamber of Secrets (Book 2),J. K. Rowling,http://images.amazon.com/images/P/0439064872.0...,556,5.183453

### Collaborative-filtering

In [83]:
ratings_with_name.head(2)

,User-ID,ISBN,Book-Rating,Book-Title,Book-Author,Year-Of-Publication,Publisher,Image-URL-S,Image-URL-M,Image-URL-L
0,276725,034545104X,0,Flesh Tones: A Novel,M. J. Rose,2002,Ballantine Books,http://images.amazon.com/images/P/034545104X.0...,http://images.amazon.com/images/P/034545104X.0...,http://images.amazon.com/images/P/034545104X.0...
1,2313,034545104X,5,Flesh Tones: A Novel,M. J. Rose,2002,Ballantine Books,http://images.amazon.com/images/P/034545104X.0...,http://images.amazon.com/images/P/034545104X.0...,http://images.amazon.com/images/P/034545104X.0...

In [98]:
x=ratings_with_name.groupby('User-ID')['Book-Rating'].count()>200
experienced_user_id=x[x].index

In [100]:
filtered_rating=ratings_with_name[ratings_with_name['User-ID'].isin(experienced_user_id)]

In [101]:
y = filtered_rating.groupby('Book-Title').count()['Book-Rating']>=50
famous_books = y[y].index

In [102]:
final_ratings = filtered_rating[filtered_rating['Book-Title'].isin(famous_books)]

In [103]:
pt = final_ratings.pivot_table(index='Book-Title',columns='User-ID',values='Book-Rating',fill_value=0)

In [104]:
pt

User-ID,254,2276,2766,2977,3363,4017,4385,6251,6323,6543,...,271705,273979,274004,274061,274301,274308,275970,277427,277639,278418
Book-Title,,,,,,,,,,,,,,,,,,,,,
1984,9.0,0,0,0,0,0,0,0,0,0,...,10,0.0,0,0,0,0,0,0,0,0.0
1st to Die: A Novel,0.0,0,0,0,0,0,0,0,0,9,...,0,0.0,0,0,0,0,0,0,0,0.0
2nd Chance,0.0,10,0,0,0,0,0,0,0,0,...,0,0.0,0,0,0,0,0,0,0,0.0
4 Blondes,0.0,0,0,0,0,0,0,0,0,0,...,0,0.0,0,0,0,0,0,0,0,0.0
A Bend in the Road,0.0,0,7,0,0,0,0,0,0,0,...,0,0.0,0,0,0,0,0,0,0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Year of Wonders,0.0,0,0,7,0,0,0,0,0,0,...,0,9.0,0,0,0,0,0,0,0,0.0
You Belong To Me,0.0,0,0,0,0,0,0,0,0,0,...,0,0.0,0,0,0,0,0,0,0,0.0
Zen and the Art of Motorcycle Maintenance: An Inquiry into Values,0.0,0,0,0,0,0,0,0,0,0,...,0,0.0,0,0,0,0,0,0,0,0.0
Zoya,0.0,0,0,0,0,0,0,0,0,0,...,0,0.0,0,0,0,0,0,0,0,0.0
"\O\"" Is for Outlaw""",0.0,0,0,0,0,0,0,0,0,0,...,0,0.0,0,0,8,0,0,0,0,0.0

In [105]:
from sklearn.metrics.pairwise import cosine_similarity

In [106]:
similarity_scores = cosine_similarity(pt)

In [107]:
def recommend(book_name):
    # index fetch
    index = np.where(pt.index==book_name)[0][0]
    similar_items = sorted(list(enumerate(similarity_scores[index])),key=lambda x:x[1],reverse=True)[1:5]
    
    data = []
    for i in similar_items:
        item = []
        temp_df = books[books['Book-Title'] == pt.index[i[0]]]
        item.extend(list(temp_df.drop_duplicates('Book-Title')['Book-Title'].values))
        item.extend(list(temp_df.drop_duplicates('Book-Title')['Book-Author'].values))
        item.extend(list(temp_df.drop_duplicates('Book-Title')['Image-URL-M'].values))
        
        data.append(item)
    
    return data

In [108]:
recommend('1984')

[['Animal Farm',
  'George Orwell',
  'http://images.amazon.com/images/P/0451526341.01.MZZZZZZZ.jpg'],
 ["The Handmaid's Tale",
  'Margaret Atwood',
  'http://images.amazon.com/images/P/0449212602.01.MZZZZZZZ.jpg'],
 ['Brave New World',
  'Aldous Huxley',
  'http://images.amazon.com/images/P/0060809833.01.MZZZZZZZ.jpg'],
 ['The Vampire Lestat (Vampire Chronicles, Book II)',
  'ANNE RICE',
  'http://images.amazon.com/images/P/0345313860.01.MZZZZZZZ.jpg']]

In [110]:
import pickle
pickle.dump(popularity_df,open('popular.pkl','wb'))

In [111]:
pickle.dump(pt,open('pt.pkl','wb'))
pickle.dump(books,open('books.pkl','wb'))
pickle.dump(similarity_scores,open('similarity_scores.pkl','wb'))

In [118]:
books['Book-Title'].drop_duplicates().count()

242135

In [121]:
books['Book-Title'].iloc[2]

'Decision in Normandy'

In [123]:
pt.index

Index(['1984', '1st to Die: A Novel', '2nd Chance', '4 Blondes',
       'A Bend in the Road', 'A Case of Need',
       'A Child Called \It\": One Child's Courage to Survive"',
       'A Civil Action', 'A Day Late and a Dollar Short', 'A Fine Balance',
       ...
       'Winter Solstice', 'Wish You Well', 'Without Remorse',
       'Wizard and Glass (The Dark Tower, Book 4)', 'Wuthering Heights',
       'Year of Wonders', 'You Belong To Me',
       'Zen and the Art of Motorcycle Maintenance: An Inquiry into Values',
       'Zoya', '\O\" Is for Outlaw"'],
      dtype='object', name='Book-Title', length=706)